<div class="carousel caro w-full" *ngIf="images">
  <div
    *ngFor="let img of images; let i = index"
    [id]="'slide' + i"
    class="carousel-item relative w-full z-10"
  >
    <img [src]="img.imgBg" class="w-full" />
    <div
      class="absolute z-20 flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
    >
      <a
        [href]="'#slide' + (i === 0 ? images.length - 1 : i - 1)"
        class="btn btn-circle"
        ><app-icon-previous></app-icon-previous
      ></a>
      <a
        [href]="'#slide' + (i === images.length - 1 ? 0 : i + 1)"
        class="btn btn-circle"
        ><app-icon-next></app-icon-next
      ></a>
    </div>
  </div>
</div>
