<div class="w-[100%] flex justify-end">
  <div class="flex flex-row justify-end">
    <div class="dropdown dropdown-end">
      <label
        tabindex="0"
        class="btn bg-white btn-circle border-white hover:bg-white hover:border-none"
      >
        <app-icon-cart fill="hsl(219, 9%, 45%)"></app-icon-cart>
      </label>
      <div
        tabindex="0"
        class="mt-5 z-[40] card card-compact dropdown-content w-[350px] h-[350px] -left-[15.2rem] bg-base-100 shadow"
      >
        <div class="p-4 w-full flex flex-col h-full">
          <span class="font-bold text-lg py-2">Cart</span>
          <hr class="border-dark-grayish-blue" />
          <div class="flex justify-center items-center">
            <span class="text-dark-grayish-blue">Your cart is empty</span>
          </div>
        </div>
      </div>
    </div>
    <div class="dropdown dropdown-end">
      <label
        tabindex="0"
        class="btn btn-ghost btn-circle avatar hover:bg-orange"
      >
        <div class="w-10 rounded-full">
          <img src="assets/images/image-avatar.png" />
        </div>
      </label>
    </div>
  </div>
</div>
