<nav class="nav">
  <ul class="flex justify-between w-full">
    <li>
      <a
        class="mx-4 text-dark-grayish-blue font-semibold hover:border-b-4 hover:border-orange-custom hover:cursor-pointer"
        >Collections</a
      >
    </li>
    <li>
      <a
        class="mx-4 text-dark-grayish-blue font-semibold hover:border-b-4 hover:border-orange-custom hover:cursor-pointer"
        >Men</a
      >
    </li>
    <li>
      <a
        class="mx-4 text-dark-grayish-blue font-semibold hover:border-b-4 hover:border-orange-custom hover:cursor-pointer"
        >Women</a
      >
    </li>
    <li>
      <a
        class="mx-4 text-dark-grayish-blue font-semibold hover:border-b-4 hover:border-orange-custom hover:cursor-pointer"
        >About</a
      >
    </li>
    <li>
      <a
        class="mx-4 text-dark-grayish-blue font-semibold hover:border-b-4 hover:border-orange-custom hover:cursor-pointer"
        >Contact</a
      >
    </li>
  </ul>
</nav>
