<div class="flex-none md:hidden lg:hidden">
  <div class="drawer z-30">
    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content">
      <label for="my-drawer" class="cursor-pointer border-none drawer-button">
        <app-icon-menu></app-icon-menu>
      </label>
    </div>
    <div class="drawer-side">
      <label for="my-drawer" class="drawer-overlay"></label>
      <ul class="menu w-56 min-h-full bg-white-custom text-very-dark-blue">
        <div class="flex pt-4 pl-4 cursor-pointer items-center justify-start">
          <input id="my-drawer" type="checkbox" class="drawer-toggle" />
          <label for="my-drawer">
            <app-icon-close></app-icon-close>
          </label>
        </div>
        <div class="pt-10 font-semibold">
          <li><a>Collections</a></li>
          <li><a>Men</a></li>
          <li><a>Women</a></li>
          <li><a>About</a></li>
          <li><a>Contact</a></li>
        </div>
      </ul>
    </div>
  </div>
</div>
