<div *ngIf="products && products.length > 0">
  <div
    *ngFor="let product of products; let i = index"
    class="pt-4 flex flex-col justify-center w-full p-4"
  >
    <h3 class="uppercase text-orange text-[12px] font-bold">sneaker company</h3>
    <h1 class="font-bold text-[30px] pt-2 text-black-75">
      {{ product.title }}
    </h1>
    <p class="text-justify py-2 text-dark-grayish-blue">
      {{ product.description }}
    </p>
    <div class="flex justify-between py-4 w-[100%] items-center">
      <div class="flex gap-3 items-center">
        <div class="flex">
          <span class="text-black-75 text-[30px] font-black"
            >${{ product.salePrice }}.00</span
          >
        </div>
        <div
          class="bg-orange bg-opacity-30 w-10 h-5 flex justify-center items-center rounded-md"
        >
          <span class="text-orange">{{ product.sale }}%</span>
        </div>
      </div>
      <div class="text-dark-grayish-blue flex items-end">
        <span class="opacity-60 line-through">${{ product.price }}.00</span>
      </div>
    </div>
    <div class="py-4">
      <div class="flex bg-light-grayish-blue w-full h-11 mb-4 rounded-md">
        <div class="flex items-center justify-between w-full">
          <button
            class="p-4 hover:opacity-50"
            (click)="decrementQuantity(product)"
          >
            <app-icon-minus></app-icon-minus>
          </button>
          <span>{{ product.amount }}</span>
          <button
            class="p-4 hover:opacity-50"
            (click)="incrementQuantity(product)"
          >
            <app-icon-plus></app-icon-plus>
          </button>
        </div>
      </div>
      <button
        class="w-[100%] h-11 self-center bg-orange text-white rounded-md hover:opacity-50"
        (click)="addToCart(product)"
      >
        <div class="flex justify-center gap-4 font-semibold">
          <app-icon-cart fill="#ffffff"></app-icon-cart>
          Add to cart
        </div>
      </button>
    </div>
  </div>
</div>
